<<< template "layout/layout.html" . >>>
<<< define "content" >>>
  <div ng-controller="AppCtrl">
      <form>
          <h3>New Distributor</h3>
          <div class="newDiv">
              <label>Name: </label>
              <input ng-model="name" type="text">
          </div>
          <div class="newDiv">
            <label>Super Distributor:(if any) </label>
            <select ng-disabled="existingDistributors.length == 0" ng-model="superDistributor" ng-selected="selectDistributor()" ng-options="distributor for distributor in existingDistributors">
              <option value="" selected disabled>Choose</option>
            </select>
          </div>
          <div class="newDiv">            
            <button type="button" ng-click="saveDetails()" ng-disabled="name ==''">
              <label ng-if="name ==''">Fill Name to Save</label>
              <label ng-if="name !=''">Save</label>
            </button>
          </div>
          <div class="newDiv" ng-if="countrySelection == true">
              <label>Countries: </label>
              <button type="button" ng-click="gotoProvince()" ng-if="selectedCountries.length > 0" ng-disabled="countryButton == false">Filter Provinces</button>
              <div>
                <span ng-repeat="country in countries | orderBy">
                    <label><input  type="checkbox" ng-click="countryChecked(country)" id="{{country}}">{{country}}</label>
                </span>
              </div>
          </div>

          <div class="newDiv" ng-if="provinceSelection == true">
              <label>Provinces: </label>
              <button type="button" ng-click="gotoCity()" ng-if="selectedProvinces.length > 0" ng-disabled="provinceButton == false">Done here</button>
              <div>
                <span ng-repeat="province in provincesByCountry | orderBy">
                    <label><input type="checkbox" ng-click="provinceChecked(province)" ng-checked="allProvincesChecked">{{province}}</label>
                </span>
              </div>
          </div>

          <div class="newDiv" ng-if="citySelection == true">
              <label>Cities: </label>
              <!-- <button type="button" ng-click="saveDetails()" ng-if="selectedCities.length > 0" ng-disabled="name ==''">
                <label ng-if="name ==''">Fill Name to Save</label>
                <label ng-if="name !=''">Save</label>
              </button> -->
              <div>
                <span ng-repeat="city in citiesByProvince | orderBy">
                    <label><input type="checkbox" ng-click="cityChecked(city)" ng-checked="allCitiesChecked">{{city}}</label>
                </span>
              </div>
          </div>

      </form>
  </div>
<<< end >>>

<<< define "scripts" >>>
    <script src = "/static/javascript/custom/new-distributor.js"></script>
    <script type="text/javascript">
        var vm = <<< .vm>>>;
    </script>
<<< end >>>
