<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Editing Country</h3>
  </div>
  <!-- /.box-header -->
  <%= render 'form', country: @country %>
  <!-- /.box-body -->
  <div class="box-footer">
    <%= link_to 'Show', @country %> |
    <%= link_to 'Back', countries_path %>
  </div>
</div>
