<form name="distributorForm" ng-submit="submitForm()">
{{message}}
<input type="hidden" id="distributor_id" name="distributor_id" ng-model="distributor.distributor_id" value="{{distributor.distributor_id}}">
  <div class="form-group">
    <label for="exampleInputEmail1">Select Included countries</label>
    <select class="form-control" ng-model="distributor.country_ids" ng-change="countryChange()">
      <option ng-repeat="country in countries"  value="{{country.Id}}">
        {{country.Name}}
    </option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Select Included states</label>
    <select class="form-control" ng-model="distributor.state_ids"  ng-change="stateChange()">
      <option ng-repeat="state in states"  value="{{state.Id}}">
        {{state.Name}}
    </option>
    </select>
  </div>
    <div class="form-group">
    <label for="exampleInputEmail1">Select Included cities</label>
    <select class="form-control" ng-model="distributor.city_ids">
      <option ng-repeat="city in cities"  value="{{city.Id}}">
        {{city.Name}}
    </option>
    </select>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
