<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">New City</h3>
  </div>
  <!-- /.box-header -->
  <%= render 'form', city: @city %>
  <!-- /.box-body -->
  <div class="box-footer">
    <%= link_to 'Back', cities_path %>
  </div>
</div>
