<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Editing State</h3>
  </div>
  <!-- /.box-header -->
  <%= render 'form', state: @state %>
  <!-- /.box-body -->
  <div class="box-footer">
    <%= link_to 'Show', @state %> |
    <%= link_to 'Back', states_path %>
  </div>
</div>
