<h3>Distributor Manager</h3>
<ul class="alert alert-info">
	<li>Add distributors</li>
	<li>Add sub distributors for particular distributor</li>
	<li>Add included places and excluded places for a distributor</li>
	<li>Check authorisation of a particular distributor for a given location</li>
</ul>


