<% provide(:button_text, 'Create Distributor') %>

<h1>New Distributor</h1>

<%= render 'form', form_data: [{controller: "distributors", action: "create"}, method: 'post'] %>

<%= link_to 'Back', distributors_path %>
